<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiese de Plan</title>
    <style>
    	*{
            font-size: 50px;
        }
        body{
            background-color:navy;
            margin: 0;
        }
    	button{
    		color: white;
    		background-color:navy;
            height:100vh;
            border:10px black solid;
    		width: 100vw;
    	}
    	button:hover{
            cursor: pointer;
			box-shadow: 3px 3px 14px  black;
			transition: 0.5s;
		}
        span{
            color: green;
        }
    </style>
</head>
<body>
    <form action = "/" method = "GET">
    	<button>
            Para abrir este video necesita actualizar su plan a <br><span>{{plan}}</span><br>
            Presione aqui para ir a los planes    
        </button>
    </form>
    
</body>
</html>