<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <style>
        .cuadro{
            background-color: green;
        }
        #submit{
            color:white;
            background-color: green;
        }
    </style>
    
    <title>Green</title>
</head>
<body>
<header>
    <div class="header">

        <div class="atras">
            <a href="/Colores/4"></a>
            
        </div>
        <div class="inicio">
            <a href="/">Inicio</a>
        </div>
    </div>
</header>
    
        
    <div class="content" id = "content">
        <center><h1>Adivina el color!!!!</h1></center>
                <div class="section1" id = "primero">
                    <div class="cont_cuadro">

                        <div class="cuadro">
                            
                        </div>
                    </div>
                    <div class="botones">
                        <input type="button" name="green" id="green" value="GREEN"><br>
                        <input type="button" name="yellow" id="yellow" value="YELLOW"><br>
                        <input type="button" name="blue" id="blue" value="BLUE">
                    </div>
                </div>
                
    </div>
    <script>
        window.onload = page;
       function page(){
           var segundo = document.getElementById("segundo");
           green1 = document.getElementById("green");
           green1.addEventListener("click",()=>{
            var content = document.getElementById("content");
               var imagen = "{% static 'images/pera_verde.jpeg' %}"
               content.innerHTML+=`<div class="section2" id = "segundo">
                    <img src=${imagen}>
                    <div class="botones">
                        <input type="button" name="red2" id="red2" value="RED"><br>
                        <input type="button" name="green2" id="green2" value="GREEN"><br>
                        <input type="button" name="yellow2" id="yellow2" value="YELLOW">
                    </div>                    
                </div>`
                page2();
               
           });
           var blue1 = document.getElementById("blue");
           blue1.addEventListener("click",()=>{
            window.open("/Colores/4","_self");   
           });
           var yellow1 = document.getElementById("yellow");
           yellow1.addEventListener("click",()=>{
                window.open("/Colores/4","_self");
           });
       } 
       function page2(){
        var segundo = document.getElementById("segundo");
           red2 = document.getElementById("red2");
           red2.addEventListener("click",()=>{
               window.open("/Colores/4","_self");
           });
           var green2 = document.getElementById("green2");
           green2.addEventListener("click",()=>{
            var content = document.getElementById("content");
               content.innerHTML+='<form action="/tests/Colores/4" method = "POST"><center><input type="submit" id ="submit" value="Evaluar"></center></form>'
               window.open("/tests/Colores/4#submit","_self")

           });
           var yellow2 = document.getElementById("yellow2");
           yellow2.addEventListener("click",()=>{
            window.open("/Colores/4","_self");
           });
       }
    </script>

</body>
</html>
