<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/log.css'%}">
    <title>Inicio-Sesion</title>
</head>
<body>
    <header>
        <div class="container">
            {% if initial_username%}
                <div class="cuenta"><a href="/info/myaccount">{{initial_username}}</a></div>
            {% endif %}

            {% if not initial_username%}
                <div class="cuenta"><a href="">?</a></div>
            {% endif %}
            <nav>
                <a href="/">Inicio</a>
                <a href="/Inicio-Sesion/">Login</a>
                <a href="/registro/">Registro</a>
                <a href="/#planes">Plan</a>
                <a href="/Contacto">Contacto</a>
                <a href="/Salir-Sesion">Log out</a>
                <a href="/Secciones">Secciones</a>
                
            </nav>
         </div>
     </header>
     <div class = "cuadro">
        <form action="/Inicio-Sesion/" method="POST">
            {% if not OK %}
                <script>
                    alert("Esta cuenta no existe")
                </script>
            {% endif %}
            <input type="text" name="username" id = "username_ok" required placeholder="Introduzca su nombre de usuario">
            <input type="password" name ="password" required id = "psw" placeholder = "Introduzca su contrasenia">
            <input type="submit" value="Inicia!!!!!" id = "submit">
        </form>
        <p id = "OlvidaContrasenia">
            No se acuerda de su contrasenia?. Haz <a href = "/OlvidarContrasenia">click aqui</a>
        </p>
    </div>
</body>
</html>